@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

body{
    height: 100vh;
    background: linear-gradient(white,#12497f);
    margin-bottom: 500px;
    margin-top: 50px;
}
.fakebook-text{ 
    text-align: center;
    margin-top: 30px;
    font-size: 100px;
    color: #12497f;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    padding-bottom: 30px;
    width: 600px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #156a8d;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;   
}

.underline{
    width: 200px;
    height: 6px;
    background-color: #12497f;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #e5e5e5;
    border-radius: 9px;
    font-family: 'Poppins', sans-serif;  
}

.input img{
    margin: 0px 30px;
}

.input input, select{
    height: 50px;
    min-width: 140px;
    background: transparent;
    border: none;
    outline: none;
    gap: 10px;
    color:#7a6e6e;
    font-size: 19px;   
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password:hover{
    color: #156a8d;
    font-weight: 500;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 20px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: linear-gradient(#156a8d,#12497f);
    border-radius: 50px;
    font-style: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

input[type="date"] {
    padding: 8px; 
    font-size: 20px;
    min-width: 230px;
 }

  .error{
    margin: auto;
    padding: 20px;
    width: 120px;
    font-size: 13px;
    color: white;
    text-align: center;
    border-radius: 0px 6px 6px 0px;
    background-color:#aa6a6a;
    
 }
.password{
    height: 40px;
    font-size: 11px;
}

.password-input {
    width: 80%; /* Dostosuj szerokość pola hasła */
  }
  

  
  .eye-icon {
    cursor: pointer;
    user-select: none;
    margin-left: 70px;
  }
  
  
